<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Create</title>
	<link rel="stylesheet" href="/css/app.css">
</head>
<body>
	 
	<main>
		<h1>Create</h1>
		<img src="/images/node.jpg" width="60%">

		<form action="/admin/create" method="post" enctype="multipart/form-data">
			<div>
				<label for="name">Usuario</label>
				<input type="text" name="username" id="name">
			</div>
			<br>
			<div>
				<label for="avatar">Foto de Perfil</label>
				<input type="file" name="avatar" id="avatar" accept=".jpg, .png, .jpeg">
			</div>
			<br>
			<div>
				<label for="email">Email</label>
				<input type="email" name="email" id="email">
			</div>
			<br>
			<div>
				<label for="password">Password</label>
				<input type="password" name="password" id="password">
			</div>
			<br>
			<button type="submit">Registrarse</button>
		</form>
	</main>
	
</body>
</html>