<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home Page</title>
	<link rel="stylesheet" href="/css/app.css">
</head>
<body>
	 
	<main>
		<h1>Home Page</h1>
		<img src="/images/node.jpg" width="60%">

		<form action="/admin" method="get">
			<div>
				<label for="name">Buscar Usuario</label>
				<input type="text" name="user" id="name">
			</div>
			<br>
			<button type="submit">Ingresar</button>
		</form>
	</main>
	
</body>
</html>