<header>
    <nav>
        <ul>
            <li><a href="/usuarios">VER usuarios</a></li>
        </ul>
    </nav>
    <nav>
        <ul>
            <li><a href="/admin/create">Registrarse</a></li>
        </ul>
    </nav>
</header>